<!DOCTYPE html>
<!--[if lte IE 9]>
<html lang="en" class="lte-ie9">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>developer forest</title>
	<meta name="description" content="developer forest">
	<meta name="keywords" content="template, clean, responsive, one-page, creative, vc">
	<meta name="author" content="developer forest">
    <link href="assets/css/icons.css" rel="stylesheet" />
    <link href="assets/css/developerforest.css" rel="stylesheet" />
</head>
<body>
	<div class="maincon">
	<div class="topsection">
    <div class="parallax-background bannerbox__image"></div>
    <header class="header transition">
    	<div class="container">
        	<div class="header__container  flex items-center">
     		 <a class="header__left navbar-brand narrow" href="#"><img src="assets/img/logo.png" alt=""></a>
             <div class="header__right">
             	<ul class="">
                    <li class="header__right--item">
                    	<span class="header__badges redcolor">23</span>
                    	<i class="header__right--icon df  df-flownotification-01"></i>
                        <span class="header__right--text">notification<i class="caretdown df df-caret-down"></i></span>
                    </li>
                    <li class="header__right--item">
                    	<i class="header__right--icon df df-grid"></i>
                        <span class="header__right--text flex items-center">collection </span>
                    </li>
                    
                    <li class="header__right--item header__list--with-dropdown">
                    	<i class="header__right--icon df df-user2"></i>
                        <span class="header__right--text flex items-center" title="Hi! Vinod kumar"><text class="truncate truncate--login">Hi! Vinod kumar</text><i class="caretdown df df-caret-down"></i></span>
                        <div class="header__dropdown">
                        <div class="header__dropdown--flex">
                        	<div class="header__dropdown--column">
                            	<span class="header__dropdown--header">Hi! Vinod Kumar</span>
                                <a href="javascript:void(0)" class="header__dropdown--link"><i class="df df-arrow-right2"></i>Profile</a>
                                <a href="javascript:void(0)" class="header__dropdown--link"><i class="df df-arrow-right2"></i>Settings</a>
                                <a href="javascript:void(0)" class="header__dropdown--link"><i class="df df-arrow-right2"></i>Downloads</a>
                                <a href="javascript:void(0)" class="header__dropdown--link"><i class="df df-arrow-right2"></i>Favorites</a>
                                
                                <span class="header__dropdown--hr"></span>
                                <a href="javascript:void(0)" class="header__dropdown--link"><i class="cardicon df df-credit-card"></i>current Credit: <span class="creaditcolor">$0.00</span></a>                            
                                </div>
                            <div class="header__dropdown--column column2">
                            	<span class="header__dropdown--header">Author Dashboard</span>
                                <a href="javascript:void(0)" class="header__dropdown--link"><i class="df df-arrow-right2"></i>Dashboard</a>
                                <a href="javascript:void(0)" class="header__dropdown--link"><i class="df df-arrow-right2"></i>Upload Resume</a>
                                <a href="javascript:void(0)" class="header__dropdown--link"><i class="df df-arrow-right2"></i>Follow Feed</a>
                                <a href="javascript:void(0)" class="header__dropdown--link"><i class="df df-arrow-right2"></i>Jobs</a>
                                <span class="header__dropdown--hr"></span>
                                
                                <a href="javascript:void(0)" class="header__dropdown--link"><i class="logouticon df df-logout-icon"></i>Sign Out</a>                            
                                </div>
                        </div>
                        	
                        </div>
                    </li>
                </ul>
             </div>
             </div>
      </div>
    </header>
    <div class="mainnav">
    	<div class="container">
        	<ul class="mainnav-row">
            	<li class="mainnav__list">
                	<a class="mainnav__link active" href="javascript:void(0)">
                    	<i class="mainnav__icon df df-seo-template"></i>
                        <span class="mainnav__text">themes</span>
                    </a>
                </li>
                <li class="mainnav__list">
                	<a class="mainnav__link" href="javascript:void(0)">
                    	<i class="mainnav__icon df   df-psd"></i>
                        <span class="mainnav__text">psd's</span>
                    </a>
                </li>
                <li class="mainnav__list">
                	<a class="mainnav__link" href="javascript:void(0)">
                    	<i class="mainnav__icon df  df-headphones"></i>
                        <span class="mainnav__text">audios</span>
                    </a>
                </li>
                <li class="mainnav__list">
                	<a class="mainnav__link" href="javascript:void(0)">
                    	<i class="mainnav__icon df  df-video-camera"></i>
                        <span class="mainnav__text">videos</span>
                    </a>
                </li>
                <li class="mainnav__list">
                	<a class="mainnav__link" href="javascript:void(0)">
                    	<i class="mainnav__icon df df-photo-camera-1"></i>
                        <span class="mainnav__text">photos</span>
                    </a>
                </li>
                <li class="mainnav__list">
                	<a class="mainnav__link" href="javascript:void(0)">
                    	<i class="mainnav__icon df df-mindmap"></i>
                        <span class="mainnav__text">graphics</span>
                    </a>
                </li>
                <li class="mainnav__list">
                	<a class="mainnav__link" href="javascript:void(0)">
                    	<i class="mainnav__icon df df-domain-registration"></i>
                        <span class="mainnav__text">plugins</span>
                    </a>
                </li>
                <li class="mainnav__list">
                	<a class="mainnav__link" href="javascript:void(0)">
                    	<i class="mainnav__icon df df-stack"></i>
                        <span class="mainnav__text">UI Kit</span>
                    </a>
                </li>
                <li class="mainnav__list">
                	<a class="mainnav__link" href="javascript:void(0)">
                    	<i class="mainnav__icon df df-programming-code"></i>
                        <span class="mainnav__text">Jobs</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="subnav">
    	<div class="container">
        	<ul class="subnav__box">
                <li class="subnav__list hoverdropdownlik">
                    <a class="subnav__link active" href="javascript:void(0)">Latest</a>
                </li>
            	<li class="subnav__list hoverdropdownlik">
                	<a class="subnav__link" href="javascript:void(0)">All Item</a>
                </li>
                <li class="subnav__list">
                	<a class="subnav__link" href="javascript:void(0)">WordPress</a>
                </li>
                <li class="subnav__list">
                	<a class="subnav__link" href="javascript:void(0)">HTML</a>
                </li>
                <li class="subnav__list">
                	<a class="subnav__link" href="javascript:void(0)">Marketing</a>
                </li>
                <li class="subnav__list">
                	<a class="subnav__link" href="javascript:void(0)">CMS</a>
                </li>
                 <li class="subnav__list">
                	<a class="subnav__link" href="javascript:void(0)">eCommerce</a>
                </li>
                <li class="subnav__list">
                	<a class="subnav__link" href="javascript:void(0)">Blogging</a>
                </li>
                <li class="subnav__list">
                	<a class="subnav__link" href="javascript:void(0)">Ghost themes</a>
                </li>
                <li class="subnav__list">
                	<a class="subnav__link" href="javascript:void(0)">More</a>
                </li>
            </ul>
        </div>
    </div>
	<section class="bannerbox">
    	
        <div class="bannerbox__textarea">
        	<div class="bannerbox__heading">Find Template,  Video, Music, Plugin and Jobs etc...</div>
            <div class="bannerbox__subheading">these collection developed by creative programmers,  which is perfect for your business</div>
            <div class="bannerbox__search">
            	<input type="text" placeholder="Search theme, template, videos,  music and Jobs" class="bannerbox__search--textfield">
                <a href="javascriipt:void(0)" class="bannerbox__search--button"><i class="df df-search2"></i></a>
            </div>
        </div>
    </section>
     </div>
     <div class="detailscon container">
        <div class="solutiondetail">
            <div class="solution__left">
              <div class="mainheading">Easy Accessible Accordion Plugin For jQuery - aria-accordion</div>
              <div class="detailbox">
                    <div class="detailItem">
                        <div class="detailItems">
                            <div class="sharebutton">
                                <div class="card--signup__social">
                                    <a href="javascript:void(0)" class="card--signup__social--item fb"><i class="df  df-FB"></i></a>
                                    <a href="javascript:void(0)" class="card--signup__social--item tw bigicon"><i class="df   df-twitter3"></i></a>
                                    <a href="javascript:void(0)" class="card--signup__social--item gplus"><i class="df df-GooglePlus"></i></a>
                                </div>
                            </div>
                            <div class="detailImage"><img src="assets/img/t1.jpg"></div>
                        </div>
                        <div class="downloadlinks">
                            <div class="downloadbtn">
                                <a href="#" class="button-default">Demo</a>
                                <a href="#" class="button-default">Download</a>
                            </div>
                            <div class="addleft"><img src="assets/img/add.png"></div>
                        </div>
                        <div class="fileType">
                            <p><span>File Size:</span>  32.6 KB</p>
                            <p><span>Views Total:</span>    511</p>
                            <p><span>Last Update:</span>    9 days ago</p>
                            <p><span>Publish Date:</span>   2 months ago</p>
                            <p><span>Official Website:</span>   Go to website</p>
                            <p><span>License:</span>    MIT</p>
                        </div>
                    </div>

                    <div class="themedesc">
                        aria-accordion is a lightweight jQuery plugin which helps you create customizable, accessible accordions with support for auto focus, fade animation, Aria attributes/roles and keyboard interactions.
                    </div>
                    <div class="banneradd"><img src="assets/img/a7.png"></div>
                    <div class="mainheading">Related Themes</div>
                <div class="conatinerBox">
                    <div class="containerItem">
                        <div class="itemthumb"><img src="assets/img/t1.jpg"></div>
                        <div class="itemdetail">
                             <a href="javascript:void(0)" class="thumblink">
                                <span class="thumblink__title">Material Dashboard <span class="themetype new">
                                    <i class="df df-joined"></i> New</span></span>
                                <span class="thumblink__text">Free Bootstrap Material Admin</span>
                             </a>
                             <a href="javascript:void(0)" class="costtheme">Free</a>
                        </div>
                           
                    </div>
                    <div class="containerItem">
                        <div class="itemthumb"><img src="assets/img/t2.jpg"></div>
                        <div class="itemdetail">
                             <a href="javascript:void(0)" class="thumblink">
                                <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                                <span class="thumblink__text">Free Bootstrap Material Admin</span>
                             </a>
                             <a href="javascript:void(0)" class="costtheme">Free</a>
                        </div>
                           
                    </div>
                    <div class="containerItem">
                        <div class="itemthumb"><img src="assets/img/t3.jpg"></div>
                        <div class="itemdetail">
                             <a href="javascript:void(0)" class="thumblink">
                                <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                                <span class="thumblink__text">Free Bootstrap Material Admin</span>
                             </a>
                             <a href="javascript:void(0)" class="costtheme">Free</a>
                        </div>
                           
                    </div>
                    <div class="containerItem">
                        <div class="itemthumb"><img src="assets/img/t4.jpg"></div>
                        <div class="itemdetail">
                             <a href="javascript:void(0)" class="thumblink">
                                <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                                <span class="thumblink__text">Free Bootstrap Material Admin</span>
                             </a>
                             <a href="javascript:void(0)" class="costtheme">Free</a>
                        </div>
                           
                    </div>
                    <div class="containerItem">
                        <div class="itemthumb"><img src="assets/img/t5.jpg"></div>
                        <div class="itemdetail">
                             <a href="javascript:void(0)" class="thumblink">
                                <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                                <span class="thumblink__text">Free Bootstrap Material Admin</span>
                             </a>
                             <a href="javascript:void(0)" class="costtheme">Free</a>
                        </div>
                           
                    </div>
                    <div class="containerItem">
                        <div class="itemthumb"><img src="assets/img/t6.jpg"></div>
                        <div class="itemdetail">
                             <a href="javascript:void(0)" class="thumblink">
                                <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                                <span class="thumblink__text">Free Bootstrap Material Admin</span>
                             </a>
                             <a href="javascript:void(0)" class="costtheme">Free</a>
                        </div>
                           
                    </div>
                    <div class="containerItem">
                        <div class="itemthumb"><img src="assets/img/t7.jpg"></div>
                        <div class="itemdetail">
                             <a href="javascript:void(0)" class="thumblink">
                                <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                                <span class="thumblink__text">Free Bootstrap Material Admin</span>
                             </a>
                             <a href="javascript:void(0)" class="costtheme">Free</a>
                        </div>
                           
                    </div>
                    <div class="containerItem">
                        <div class="itemthumb"><img src="assets/img/t8.jpg"></div>
                        <div class="itemdetail">
                             <a href="javascript:void(0)" class="thumblink">
                                <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                                <span class="thumblink__text">Free Bootstrap Material Admin</span>
                             </a>
                             <a href="javascript:void(0)" class="costtheme">Free</a>
                        </div>
                           
                    </div>
                    <div class="containerItem">
                        <div class="itemthumb"><img src="assets/img/t9.jpg"></div>
                        <div class="itemdetail">
                             <a href="javascript:void(0)" class="thumblink">
                                <span class="thumblink__title">Material Dashboard <span class="themetype new"><i class="df df-joined"></i> New</span></span>
                                <span class="thumblink__text">Free Bootstrap Material Admin</span>
                             </a>
                             <a href="javascript:void(0)" class="costtheme">Free</a>
                        </div>
                           
                    </div>
                </div>
                   
              </div>
                    

            </div>
            <div class="solution__right">
                <div class="addbox">
                    <img src="assets/img/add.png">
                </div>
                <div class="categorydiv">
                    <div class="favtag__title">Categories:</div>
                    <div class="catbox">
                        <a href="javascript:void(0)" class="catitem">Accordion <span>(100)</span></a>
                        <a href="javascript:void(0)" class="catitem">Chart & Graph <span>(126)</span></a>
                        <a href="javascript:void(0)" class="catitem">Gallery <span>(132)</span></a>
                        <a href="javascript:void(0)" class="catitem">Animation <span>(100)</span></a>
                        <a href="javascript:void(0)" class="catitem">Layout <span>(250)</span></a>
                        <a href="javascript:void(0)" class="catitem">LightBox <span>(254)</span></a>
                        <a href="javascript:void(0)" class="catitem">Loading <span>(325)</span></a>
                        <a href="javascript:void(0)" class="catitem">Menu & Nav <span>(142)</span></a>
                        <a href="javascript:void(0)" class="catitem">Mobile <span>(321)</span></a>
                        <a href="javascript:void(0)" class="catitem">Slider <span>(145)</span></a>
                        <a href="javascript:void(0)" class="catitem">Slideshow <span>(325)</span></a>
                        <a href="javascript:void(0)" class="catitem">Social Media <span>(124)</span></a>
                        <a href="javascript:void(0)" class="catitem">Table <span>(324)</span></a>
                        <a href="javascript:void(0)" class="catitem">Text <span>(145)</span></a>
                        <a href="javascript:void(0)" class="catitem">Time & Clock <span>(245)</span></a>
                        <a href="javascript:void(0)" class="catitem">Tooltip <span>(325)</span></a>
                        <a href="javascript:void(0)" class="catitem">Zoom<span>(124)</span></a>
                    </div>
                </div>
                <div class="favtag">
                    <div class="favtag__title">You Might Like </div>
                    <div class="favtag__box">
                        <a href="javascript:void(0)" class="tag__item">javsscript</a>
                        <a href="javascript:void(0)" class="tag__item">jquery</a>
                        <a href="javascript:void(0)" class="tag__item">css</a>
                        <a href="javascript:void(0)" class="tag__item">html</a>
                        <a href="javascript:void(0)" class="tag__item">xml</a>
                        <a href="javascript:void(0)" class="tag__item">php</a>
                        <a href="javascript:void(0)" class="tag__item">.net</a>
                        <a href="javascript:void(0)" class="tag__item">react js</a>
                        <a href="javascript:void(0)" class="tag__item">javsscript</a>
                        <a href="javascript:void(0)" class="tag__item">jquery</a>
                        <a href="javascript:void(0)" class="tag__item">css</a>
                        <a href="javascript:void(0)" class="tag__item">html</a>
                        <a href="javascript:void(0)" class="tag__item">xml</a>
                        <a href="javascript:void(0)" class="tag__item">php</a>
                        <a href="javascript:void(0)" class="tag__item">.net</a>
                        <a href="javascript:void(0)" class="tag__item">react js</a>
                        <a href="javascript:void(0)" class="tag__item">javsscript</a>
                        <a href="javascript:void(0)" class="tag__item">jquery</a>
                        <a href="javascript:void(0)" class="tag__item">css</a>
                        <a href="javascript:void(0)" class="tag__item">html</a>
                        <a href="javascript:void(0)" class="tag__item">xml</a>
                        <a href="javascript:void(0)" class="tag__item">php</a>
                        <a href="javascript:void(0)" class="tag__item">.net</a>
                        <a href="javascript:void(0)" class="tag__item">react js</a>
                    </div>
                </div>
                
                <div class="hotnetwork">
                    <div class="favtag__title">Most Popular This Month:</div>
                    <div class="hotnetwork__box">
                        <a href="javascript:void(0)" class="hotnetwork__link">Is throwing a ball improvised?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link"> How do I address poor performance that is exacerbated by religious practices?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link">Should I include a job I've been fired from on my CV?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link">Is everyday probability just a way of dealing with the unknown (not talking quantum physics here)?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link">How important is learning Binary for first-year college students?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link">Slang from Fresh Prince from Bel-Air S01E03: Vacuumed, Cheese Dog, Harley, Fly for Me</a>
                        <a href="javascript:void(0)" class="hotnetwork__link">Would it be unethical to not cite a figure obtained from a Q&amp;A forum?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link">Why do we have CPUs with all the cores at the same speeds and not combinations of different speeds?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link">How do we ensure users read instructions?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link">Why is "You’ve brought a knife to a gun fight" considered to be a mixed metaphor?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link"> What to say instead of "calm down" if you see the other person getting angry during the discussion?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link"> How to plot output data of Do-command?</a>
                        <a href="javascript:void(0)" class="hotnetwork__link">N-dimensional identity "matrix"</a>
                        <a href="javascript:void(0)" class="hotnetwork__link">What's the verb to describe a good guy becoming a bad guy?</a>
                    
                    </div>
                </div>
                <div class="mostpopulatplugin">
                 <a class="button-default">Most Popular Plugin</a>
                </div>

                
            </div>
        </div>
    </div>
   
        <footer class="footer">
        <div class="container">
            <div class="toplink">
                <a href="javascript:void(0)" class="toplink__item">About us</a>
                <a href="javascript:void(0)" class="toplink__item">Careers  </a>
                <a href="javascript:void(0)" class="toplink__item">Privacy Policy</a>
                <a href="javascript:void(0)" class="toplink__item">Terms & condition</a>
                <a href="javascript:void(0)" class="toplink__item">help</a>
                <a href="javascript:void(0)" class="toplink__item">blog</a>
                <a href="javascript:void(0)" class="toplink__item">forurms</a>
                <a href="javascript:void(0)" class="toplink__item">Community</a>
                 <a href="javascript:void(0)" class="toplink__item">contact us</a>
            </div>
            <div class="midfooter">
                <div class="midfooter__box">
                    <div class="midfooter__hd">Most Popular Themes</div>
                    <div class="clearfix"></div>
                    <a href="javascript:void(0)" class="midfooterlink">HTML</a>
                    <a href="javascript:void(0)" class="midfooterlink">Wordpress</a>
                    <a href="javascript:void(0)" class="midfooterlink">Joomla</a>
                    <a href="javascript:void(0)" class="midfooterlink">Wordpress</a>
                    <a href="javascript:void(0)" class="midfooterlink">Admin & Dashboard</a>
                    <a href="javascript:void(0)" class="midfooterlink">One page Template</a>
                    <a href="javascript:void(0)" class="midfooterlink">Email Template</a>
                    <a href="javascript:void(0)" class="midfooterlink">Bootstrap template</a>
                    <a href="javascript:void(0)" class="midfooterlink">eCommerce Template</a>

                </div>
                
                <div class="midfooter__box">
                    <div class="midfooter__hd">Most Popular Plugins</div>
                    <div class="clearfix"></div>
                    <a href="javascript:void(0)" class="midfooterlink">Jquery Plugin</a>
                    <a href="javascript:void(0)" class="midfooterlink">Wordpress Plugin</a>
                    <a href="javascript:void(0)" class="midfooterlink">Joomla Plugin</a>
                    <a href="javascript:void(0)" class="midfooterlink">Woocommerce Plugin</a>
                    <a href="javascript:void(0)" class="midfooterlink">CSS Plugin</a>
                    <a href="javascript:void(0)" class="midfooterlink">SVG</a>
                    <a href="javascript:void(0)" class="midfooterlink">Canvas</a>

                </div>
                 <div class="midfooter__box">
                    <div class="midfooter__hd">Most Popular UI Kit</div>
                    <div class="clearfix"></div>
                    <a href="javascript:void(0)" class="midfooterlink">Bootstrap </a>
                    <a href="javascript:void(0)" class="midfooterlink">Foundation</a>
                    <a href="javascript:void(0)" class="midfooterlink">Oters CSS framework</a>
                    <a href="javascript:void(0)" class="midfooterlink">Responsive</a>
                    <a href="javascript:void(0)" class="midfooterlink">Parallex</a>

                </div>
                 <div class="midfooter__box">
                    <div class="midfooter__hd">Graphics</div>
                    <div class="clearfix"></div>
                    <a href="javascript:void(0)" class="midfooterlink">Generate fonts</a>
                    <a href="javascript:void(0)" class="midfooterlink">Convert fonts <br> to icons</a>
                    <a href="javascript:void(0)" class="midfooterlink">Download Icons</a>
                    <a href="javascript:void(0)" class="midfooterlink">Download Fonts</a>
                    <a href="javascript:void(0)" class="midfooterlink">craete logo </a>

                </div>
            </div>
            <div class="bottomfooter">
                <div class="copyright">&copy; 2017 developer forest Pvt Ltd. Trademarks and brands are the property of their respective owners.
</div>
                <div class="socialicons">
                    <a href="#" class="socialicons__llink"><i class="df df-facebook2"></i></a>
                    <a href="#" class="socialicons__llink"><i class="df df-linkedin2"></i></a>
                    <a href="#" class="socialicons__llink"><i class="df  df-twitter2"></i></a>
                    <a href="#" class="socialicons__llink"><i class="df df-googlebase2"></i></a>
                </div>
            </div>
        </div>
    </footer>

  </div>  
</body>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/developerforest.js" type="text/javascript"></script>
</html>
